[submodule "ocx"]
	path = ocx
	url = https://github.com/snps-virtualprototyping/ocx.git 
[submodule "capstone"]
	path = capstone
	url = https://github.com/aquynh/capstone.git
[submodule "unicorn"]
	path = unicorn
	url = https://github.com/snps-virtualprototyping/unicorn.git 
